header{
    font-family: 'Open Sans', sans-serif;
    }
   /* nav styles */
    .img-gamer{
        display: flex;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        padding: 38px 240px;
        align-items: center;
    }
    span{
        color: #4EC5F7;
    }
    .frame{
        width: 86.041px;
        height: 40px;
        flex-shrink: 0;
        margin-top: 20px;
    }
    nav > ul{
        display: flex;
    }
    nav li{
        list-style: none;
        margin: 32px;
        font-size: 18px;
        font-weight: 500;
    }
    nav li a{
        text-decoration: none;
        color:black ;
    }
    .button{
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
       padding: 5px 30px;
        color: #3C354F;
        font-size: 18px;
        font-weight: 500;
      }
      /* section-title styles */

      .section-title{
        display: flex;
        justify-content: space-around;
        
    
     }
     .bannar-title{
        text-align: center;
        padding: 104px 240px;
     }
     .images-18{
        padding: 19px 60px;
     }
     .goat{
        font-size: 65px;
        font-weight: 700px;
     }
     
    .secend-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .we-are-gamer{
    text-align: right;
    align-items: center;
    margin-top: 95px;
    gap: 20px;
    font-size: 28px;
    width: 600;
    }
    .button-title{
        border-radius: 48px;
         background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
         padding: 21px 40px;
    }
    .button2{
        border-radius: 48px;
       background: #4EC5F7;
        padding: 21px 40px;
        
    }
    .Games-Funny{
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    .online{
        font-size: 48px;
        font-weight: 700;
    }
   
    .collection{
        font-size: 18px;
        font-weight: 400;
    }
    .images-title{
      display: flex;
      justify-content: center;
      align-items: center;
     
      gap: 25px;
      padding: 24px 240px;
      
    }
    .paragarap{
        font-size: 30px;
        font-weight: 500;
        margin-top: 50px;
    }
    .section-dowloades{
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 265px;
       }
    .dowloades{
        justify-content: center;
        align-items: center;
       margin-top: 336px;
    }
    .section-3{
        display: flex;
       justify-content: center;
       align-items: center;
       gap: 249px;
       margin-top: 50px;
    }
    .section-4{
        display: flex;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        justify-content: center;
        align-items: center;
        padding: 50px 245px;
        gap: 60px;
        margin-top: 60px;
        
        
    }
    .div2{
        display: flex;
        font-size: 15px;
        font-weight: 600;
        gap: 97px;
    }
    .paragrap-games{
        font-size: 15px;
        font-weight: 600;
      

    }
    .Careers{
        font-size: 48px;
        font-weight: 700px;
        
    }
    .button{
        border-radius: 48px;
        background: white;
         padding: 21px 40px;
         width: 40px;
        margin-top: 50px;
        }
      .section-5{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 149px 325px;
        gap: 158px;
      }
      .section-6{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 96px;
        text-align: center;
        font-size:30px ;
      }
      ..section-5.section-6:hover{
        border-radius: 2px solid red;

      }
      .div5{
        display: flex;
        background: #4EC5F7;
        justify-content: center;
        align-items: center;
    
        
      }
    
       
     
    
    /* responsive media queries  */
    @media screen and ( max-width: 576px){
        nav{
            flex-direction: column;
    
           }
           .section-title{
            flex-direction: column;
            
            
           }
           .secend-title{
            flex-direction: column;
         }
         .Games-Funny{
            flex-direction: column;
         }
         .images-title{
            flex-direction: column;
    }
    .section-dowloades{
        flex-direction: column;
    }
    .section-3{
        flex-direction: column;
    }
    .section-4{
        flex-direction: column;
    }
    .section-5{
        flex-direction: column;
    }
    .section-6{
        flex-direction: column;
    }
